$default-padding: 15px;
$color-primary: #6cbf57;
$color-primary--lighter: lighten($color-primary, 20%);

body {
    background-color: $color-primary--lighter;
}

main{
    > .container{
        background-color: white;
        padding: $default-padding;
    }
}

#article-form{
    button {
        margin-top: 15px;
    }
}

.articles-list{
    background: white;

    .article{
        padding-bottom: $default-padding;

        &:not(:first-child){
            margin-top: 30px;
        }

        &:not(:last-child){
            border-bottom: 1px solid rgba(0,0,0,.1);
        }

        .date{
            margin-bottom: 10px;
            color: rgba(0,0,0,.5);
        }
    }
}

.single-article{
    .date{
        margin-bottom: 10px;
        color: rgba(0,0,0,.5);
    }
}