body {
  background-color: #addba1;
}

main > .container {
  background-color: white;
  padding: 15px;
}

#article-form button {
  margin-top: 15px;
}

.articles-list {
  background: white;
}

.articles-list .article {
  padding-bottom: 15px;
}

.articles-list .article:not(:first-child) {
  margin-top: 30px;
}

.articles-list .article:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.articles-list .article .date {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.single-article .date {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=styles.css.map */